.container {
    width: 800px;
    height: 1200px;
    background-color: rgb(235, 235, 219, 0.2);
    margin: auto;
    padding: 10px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: rgb(224, 209, 190, 0.2);
    margin: 10px;
}

.static {
    position: static;
    top: 10px;
    left: 10px;
}

.relative {
    position: relative;
    top: 10px;
    left: 10px;
}

.absolute {
    position: absolute;
    top: 10px;
    left: 10px;
}

.fixed {
    position: fixed;
    top: 10px;
    left: 10px;
}


.sticky {
    position: sticky;
    top: 10px;
    left: 50px;
}